body {
    margin: 2% 5% 2% 5%;
}

h4 {
    margin-block-start: 0;
}

header {
    box-shadow: 0px 5px 20px 0px gainsboro;
    padding-bottom: 1em;
}

a {
    color: gray;
    text-decoration: inherit;

}

td {
    display: flex;
}

.div-logo {
    display: flex;
}

.div-logo1 {
    display: flex;
    width: auto;
    justify-content: center;
    padding-left: 1em;

}

.img-logo {
    display: flex;
    width: auto;
    height: 1.5em;
}

.header-box {
    align-items: center;
    display: flex;
    font-size: 3.7em;
}

.div-title {
    font-size: inherit;
    font-weight: 10;
    font-family: monospace;
    max-height: max-content;
    justify-content: center;
}

.nav-box {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    box-sizing: inherit;
    align-items: inherit;
    padding: 1em 0 1em 0;
    color: gray;
}

.nav-items {
    display: inline-flex;
    font-size: 1rem;
}

.img-news {
    background-image: url(../images/dog.jpg);
    display: flex;
    min-height: 30rem;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
}

.img-details {
    font-size: 1em;
    margin: 0 1px 0 1px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 30%;
}

.top-news-box {
    color: gray;
    display: flex;
    border-bottom: 2px solid gainsboro;
    justify-content: space-between;
    margin-top: 1em;
}

.top-news-header {
    flex-grow: 1;
}

.latest-news-block-img {
    width: 25%;
    float: left;
    padding-right: .5em;
}

.top-news-content {
    border-bottom: 2px solid gainsboro;
    list-style-type: none;
    padding: 1em 0 1em 0;
}

.top-news-content::before {
    content: ">>";
    padding: 5px;
}

.top-news-content-list {
    padding-inline-start: 0px;
    margin: 0%;
    padding-bottom: 20px;
}

.table-header {
    width: 100%;
    display: flex;
}

.table-header1 {
    width: 100%;
    display: flex;
}

.table-details {
    justify-content: center;
    display: flex;
    width: 100%;
}

.table-box {
    width: 100%;
}

.table-data {
    padding-left: 2rem;
    line-height: 1.5em;
}

table,
tr,
td,
tbody {
    width: 100%;
}

th {
    width: 100%;
    font-weight: 100;
}

.table-head {
    padding-left: 2rem;
    font-weight: 100;
    color: gray;
    line-height: 1.5em;
}


.weather-box {
    font-weight: 100;
    font-size: 1.2em;

}

.weather-heading {
    margin-block-end: -1em;
    font-size: 1.2em;
    display: block;
}

.current-weather {
    display: flex;
}

.weather-forecast {
    display: flex;
    justify-content: space-between;
}

.top-news-article {
    display: inline-block;
    padding: 10px 0;
}

.weather-box-div-tab {
    display: none;
}

footer {
    justify-content: space-around;
    display: flex;
    box-shadow: 0px 5px 50px 0px gray;
    padding: 10px 0px 10px 0px;
    margin-top: 1em;
}



/************/
/* Tab View */
/************/


@media only screen and (max-width:800px) {
    .weather-box-div {
        display: none;
    }

    .img-news {
        width: 50%;
        min-height: 0%;
    }

    .weather-box-div-tab {
        width: 50%;
        display: inline-block;
    }

    .news-weather-box {
        display: flex;
    }

    .img-details {
        font-size: .5em;
        height: auto;
    }

    .header-box {
        font-size: 2.5em;
    }

    .table-header {
        background-color: aqua;
    }

    .table-header1 {
        background-color: gainsboro;
    }
}

@media only screen and (max-width:600px) {
    .nav-box {
        display: none;
    }

    .table-header {
        background-color: aqua;
    }

    .table-header1 {
        background-color: gainsboro;
    }

    .weather-box-div {
        display: block;
    }

    .img-news {
        width: 100%;
        min-height: 0%;
    }

    .weather-box-div-tab {
        display: none;
    }

    .img-details {
        font-size: .5em;
    }

    .news-weather-box {
        height: 15em;
        display: flex;
    }

    .header-box {
        font-size: 2.0em;
    }

    .header-menu {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        
    }
    .header-box{
        justify-content: space-between;
    }
}