body {
    margin: 2% 5% 2% 5%;
}
h4{
    margin-block-start: 0;
}

header {
    box-shadow: 0px 5px 20px 0px gainsboro;
    padding-bottom: 1em;
}
a{
    color: gray;
    text-decoration: inherit;
}
td{
    display: flex;
}
.div-logo {
    display: flex;
}

.div-logo1 {
    display: flex;
    width: auto;
    justify-content: center;
    padding-left: 50px;

}

.img-logo {
    display: flex;
    width: auto;
}

.header-box {
    align-items: center;
    display: flex;
}

.div-title {
    font-size: 5rem;
    font-weight: 10;
    font-family: monospace;
    max-height: max-content;
    justify-content: center;
}

.nav-box {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    box-sizing: inherit;
    align-items: inherit;
    padding: 1em 0 1em 0;
    color: gray;
}

.nav-items {
    display: inline-flex;
    font-size: 1rem;
}

.img-news {
    background-image: url(../images/dog.jpg);
    display: flex;
    min-height: 30rem;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
}

.img-details {
    font-size: 1em;
    margin: 0 1px 0 1px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 30%;
}

.top-news-box {
    color: gray;
    display: flex;
    border-bottom: 2px solid gainsboro;
    justify-content: space-between;
    margin-bottom: 1em;
}

.top-news-header {
    flex-grow: 1;
}

.latest-news-block-img{
    width: 15vw;
    padding-right: .5em;
}

.top-news-content{
    border-bottom: 2px solid gainsboro;
    list-style-type: none;
    padding: 1em 0 1em 0;
}

.top-news-content::before{
    content: ">>";
    padding: 5px;
}

.top-news-content-list{
    padding-inline-start: 0px;
    margin: 0%;
    padding-bottom: 20px;
}
.table-header{
    width: 100%;
    display: flex;
}
.table-details{
    justify-content: center;
    display: flex;
    width: 100%;
}

.table-box{
    width: 100%;
}
.table-data{
    padding-left: 2rem;
    line-height: 1.5em;
}
table,tr,td,tbody{
    width: 100%;
}
th{
    width: 100%;
    font-weight: 100;
}
.table-head{
    padding-left: 2rem;
    font-weight: 100;
    color: gray;
    line-height: 1.5em;
}
.weather-box{
    font-weight: 100;
    font-size: 1.2em;
    
}
.weather-heading{
    margin-block-end: -1em;
    font-size: 1.2em;
}
.current-weather{
    display: flex;
}
.weather-forecast{
    display: flex;
    justify-content: space-between;
}

.top-news-article{
    display: flex;
    padding: 10px 0;
}
footer{
    justify-content: space-around;
    display: flex;
    box-shadow: 0px 5px 50px 0px gray;
    padding: 10px 0px 10px 0px ;
    margin-top: 1em;
}